@model List<Account>

<form>
	<select id="accounts">
@foreach (var account in Model) {
		<option value="@account.Id">@account.AccountNumber</option>
}
	</select>
	<button type="button" id="show-button"> Show Account Data</button>
</form>

<div id=accountInfo></div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/my-js/Accounts.js"> </script>


