@model List<Meeting>

<form>
	<select id="meetings">
@foreach (var meeting in Model) {
		<option value="@meeting.Id">@meeting.Customer.LastName : @meeting.ShortDescription</option>
}
	</select>
	<button type="button" id="show-button"> Show Meeting Data</button>
</form>

<div id=meetingInfo></div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/my-js/UpdateMeetings.js"></script>	
