@model List<Customer>
<form>
<select id="customers">
		@foreach (var customer in Model)
		{
			<option value="@customer.Id">@customer.LastName @customer.FirstName</option>
		}
	</select>
	<button type="button" id="show-button"> Show customer info</button>
</form>

<div id=customerInfo></div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/my-js//ShowCustomers.js"></script>



