@model List<UserAccount>

	
<form>
	<select id="accounts">
@foreach (var account in Model) {
		<option value="@account.Id">@account.Username</option>
}
	</select>
	<button type="button" id="show-button"> Show Account Roles</button>
</form>

<div id=roleInfo></div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/my-js/RoleManager.js"></script>

